*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    vertical-align: baseline;
    margin-top: 5vh;
    margin-left: 10vw;
    height: 10vh;
    width: 60vw;
    box-shadow: 0 0 9px #333;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items:center;
    cursor: pointer;
}

button{
    cursor:pointer;
}

.glass{
    background-color: tomato;
}

.single-post{
    margin-top: 15px;
    vertical-align: baseline;
    margin-left: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:10vh;
    box-shadow: 0 0 13px #333;
    width: 60vw;
}

.post-title{
    font-weight: 700;
    color: black;
    margin-left: 20px;
}

.name{
    display: flex;
    margin-right: 30px;
    justify-content: space-between;
    align-items: center;
}

.post-username{
    margin-right: 30px;
    color: black;
}

.post-profile-pic{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    box-shadow: 4px 5px 4px #333;
}