.nav-bar{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    height: 100vh;
    box-shadow: 0 0 12px black;
    background-image: linear-gradient(0deg,#ff7abe,#ff9770);
    width: 10vw;
}

.top-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5vh;
    color: white;
}

.profile-pic-nav{
    height: 9vh;
    width: 60%;
    box-shadow: 0 0 20px #333;
    border-radius: 50%;
    background-color: white;
}

.username{
    margin-top: 25px;
}

.home-logo{
    margin-top: 7vh;
    margin-bottom: 8vh;
    height: 6vh;
    width: 45%;
}

.new-post{
    height: 6vh;
    width: 55%;
}

.power{
    height: 5vh;
    width: 35%;
    margin-bottom: 4vh;
}